@import url('../css/variable.css');
@import url('../css/components.css');
@import url('../assets/fonts/font.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

a{
    text-decoration: none;
}

p{
    width: fit-content;
}

img{
    user-select: none;
    pointer-events: none;
}

button{
    all: unset;
    cursor: pointer;
}

.decore{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media(max-width: 768px){
    .decore{
        width: 463px;
        height: 489px;
    }
}

@media(max-width: 536px){
    .decore{
        width: 238px;
        height: 251px;
    }
}