/*      ----------- hello -------------      */


.hello{
    display: flex;
    justify-content: space-between;
    padding: 15px 140px 0 140px;
}

.text-contant{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    margin-top: 100px;
}

.text-contant >p:nth-of-type(1){
    color: var(--orange);
    text-transform: uppercase;
}

.text-contant >p:nth-of-type(3){
    color: var(--text70);
    max-width: 470px;
}

.hello-link{
    display: flex;
    gap: 30px 70px;
    flex-wrap: wrap;
}


.hello-link >button{
    width: 170px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.hello-link >button >p{
    color: var(--text-dif)    
}


.hello-link >div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.hello-link >div >button{
    height: 52px;
    width: 52px;
    border-radius: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
}

.hello-link >div >button >img{
    height: 15px;
    width: 15px;
    margin-left: 3px;
}

.hello-link >div >p{
    color: var(--text70);
}

.hello-img-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 700px;
}

.hello-img-container >img{
    max-width: 100%; 
    height: auto; 
    object-fit: contain;
}


@media(max-width: 1300px){
    .hello{
        padding: 70px 50px;
        justify-content: center;
    }

    .text-contant{
        margin: 0;
        align-items: center;
        max-width: 620px;
    }

    .text-contant >p{
        text-align: center;
    }

    .text-contant >p:nth-of-type(3){
        color: var(--text70);
        max-width: 620px;
    }

    .hello-img-container{
        display: none;
    }
}

@media(max-width: 678px){
    .hello{
        padding: 50px 15px;
    }

    .text-contant >p:nth-of-type(3){
        color: var(--text70);
        max-width: 405px;   
    }
}

@media(max-width: 600px){
    .text-contant >p:nth-of-type(2){
        font-size: 2.25em;
        line-height: calc(46 / 36);
    }
}

@media(max-width: 560px){
    .hello-link{
        justify-content: center;
        flex-direction: column;
    }
}




/*      ----------- category -------------      */



.category{
    padding: 70px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.category-box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.category-box-item{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
    border-radius: 30px;
    transition: all 0.5s;
}

.category-box-item >img{
    margin-bottom: 15px;
    max-height: 70px;
}

.category-box-item >p{
    text-align: center;
}

.category-box-item >p:nth-of-type(2){
    color: var(--text70);
}

.category-box-item:hover{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

@media(max-width: 850px){
    .category{
        padding: 70px 50px;
    }
}

@media(max-width: 678px){
    .category{
        padding: 50px 15px;
    }
}

@media(max-width: 589px){
    .category-box-item:nth-of-type(n+2){
        display: none;
    }

    .category >.paggination{
        display: flex;
    }

}
/*      ----------- selling -------------      */

.selling{
    padding: 70px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.selling-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.selling-content .slide{
    cursor: pointer;
}

.selling-content .slide:nth-of-type(2){
    transform: rotate(180deg);
    order: 5;
}

/* .selling-card-box{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
} */

.selling-card{
    display: flex;
    max-width: 320px;
    min-width: 320px;
    flex-direction: column;
    border-radius: 25px;
    height: 450px;
    overflow: hidden;
    transition: all 0.5s;
}

.selling-card:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.selling-card >img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.selling-card >div >p{
    color: var(--text70)
}

.selling-card >div:nth-of-type(1){
    padding: 25px 20px 24px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.selling-card >div:nth-of-type(2){
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

@media(max-width: 1400px){
    .selling-card:nth-of-type(5){
        display: none;
    }
}

@media(max-width: 1040px){
    .selling-card:nth-of-type(4){
        display: none;
    }
}


@media(max-width: 850px){
    .selling{
        padding: 70px 50px;
    }
}

@media(max-width: 678px){
    .selling{
        padding: 50px 15px;
    }
}


@media(max-width: 494px){
    .selling-content{
        justify-content: center;
    }

    .selling >.paggination{
        display: flex;
    }
    
    .selling-content >.slide{
        display: none;
    }
}