.registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;  
    padding: 70px 0;
}

.registration-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 290px;
}

.registration-container >button{
    margin-top: 20px;
}

@media(max-width: 678px){
    .registration{
        padding: 50px 0;
    }
}

.text-container:nth-of-type(3).error,
.text-container:nth-of-type(4).error,
.text-container:nth-of-type(5).error,
.text-container:nth-of-type(6).error{
    margin-bottom: 50px;
}

/* #password >.input >img{
    position: absolute;
    z-index: 100000;
    background-color: var(--white);
} */