.faq{
    padding: 70px 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.faq-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.faq-item{
    width: 100%;
    border-radius: 25px;
    height: fit-content;
    padding: 25px 30px;
    border: 1px solid var(--black70);
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.5s;
}

.faq-item >div:nth-of-type(2){
    display: none !important;
}

.faq-item.active{

}

.faq-item.active >div:nth-of-type(2){
    display: flex !important;
}

.faq-item >div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item >div >img{
    width: 12px;
    height: 12px;
    transform: rotate(-90deg);
}

.faq-item >div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item >div:nth-of-type(2) >p{
    text-align: justify;
    color: var(--text70);
}

.faq-setting{
    display: flex;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.faq-setting >button:nth-of-type(1){
    background-color: var(--orange);
}

.faq-setting >button:nth-of-type(2){
    background-color: var(--blue);
}


@media(max-width: 850px){
    .faq{
        padding: 70px 50px;
    }
}

@media(max-width: 678px){
    .faq{
        padding: 50px 15px;
    }
}



.map{
    padding: 70px 140px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.map-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.map-header >.section-header{
    align-items: flex-start;
    margin-bottom: 20px;
}

.map-header >.section-header >p{
    text-align: left;
}

.map-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-contact >p:nth-of-type(2){
    color: var(--text70);
}

.map-container {
    width: 100%; /* Ширина контейнера */
    max-width: 600px; /* Максимальная ширина */
    height: 328px; /* Высота контейнера */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    position: relative; /* Для абсолютного позиционирования ссылок */
    border-radius: 25px;
}

.map-container iframe {
    width: 100%; /* Ширина iframe */
    max-height: 328px; /* Высота iframe */
    border-radius: 25px;
}

@media(max-width: 1284px){
    .map{
        align-items: center;
        justify-content: center;
    }

    .map-header{
        align-items: center;
        width: 100%;
    }

    .map-header >.section-header{
        align-items: center
    }

    .map-header >.section-header >p{
        text-align: center;
    }

    .map-contact{
        align-items: center;
        justify-content: center;
    }

    .map-container {
        
    }

    .map-container iframe {
        
    }
}

@media(max-width: 850px){
    .map{
        padding: 70px 50px;
    }
}

@media(max-width: 678px){
    .map{
        padding: 50px 15px;
    }
}
