.button-small{
    max-width: 130px;
    width: 100%;
    min-height: 40px;
    border-radius: 15px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.button-small >span{
    color: #ffffff;
}

.button-small:hover{
    background-color: var(--red20);
}