.button-small{
    max-width: 130px;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-small >span{
    color: #ffffff;
}