.section-header-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}

.section-header-left >p{
    text-align: left;
    white-space: pre-wrap;
}

.section-header-left >p:nth-of-type(1){
    text-transform: uppercase;
    color: var(--text70);
}

@media(max-width: 1212px){
    .section-header-left{
        align-items: center;
    }

    .section-header-left >p{
        text-align: center;
    }
}

@media(max-width: 600px){
    .section-header-left >p:nth-of-type(2){
        font-size: 2.25em;
        line-height: calc(46 / 36);
    }
}